<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AmericainFoot{% endblock %}</title>

    <!-- Chargement du CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>

    <!-- HEADER GLOBAL -->
    <header class="site-header">
        <h1>Bienvenu sur AmericainFoot</h1>

        <nav class="menu">
            <a href="/">Accueil</a>
            <a href="/about">À propos</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <!-- CONTENU SPÉCIFIQUE À CHAQUE PAGE -->
    <main class="site-content">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER GLOBAL -->
    <footer class="site-footer">
        <p>&copy; 2026 — Mon site Django</p>
    </footer>

</body>
</html>
